<html>
	<head>
		<!-- Title -->
		<title>Game - Fz2D</title>
		<!-- Content Type -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
		<link rel="icon" type="image/x-icon" href="favicon.ico"/>
		<!-- Inline CSS -->
		<style type="text/css">
			body
			{
				background-color: #3F7CB6;
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<!-- Fz2D-->
		<script type="text/javascript" src="js/fz2d.min.js"></script>
		<!-- Game -->
		<script type="text/javascript" src="js/game.min.js"></script>
	</body>
</html>
